*{ box-sizing: border-box;}

.dh{
    min-height: 200px !important;
}

body{
    background-color: lightgray;
    min-height: 300vh;
}

/* GLOBALS */
.amarelo{background-color: #fff159;}
.out{outline: 2px solid orange;}

/* BARRA DE NAVEGAÇAO */
.barra-busca input,.barra-busca input:hover, .barra-busca input:not(:hover),.barra-busca input:active{
    box-shadow: none;
    border-right: none;
}
.barra-busca .input-group-text{
  background-color: #fff;
  border-left: none;
}

/* de zero a mil deixa o espaço */
@media (max-width:1000px) {
    .barra-busca{
        width: 50%;
        margin-right: 50px !important;
    }
}
/* BARRA DE NAVEGAÇÃO FIM */

#hero img{
    min-height: 250px;
    min-width: 700px;
    width: 100%;

    
}

/*  */
.circulo{
    border: 1px solid lightgray;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: blue;
    font-size: 18px;
}
.fa-plus-circle{
    /* color: red; */
    font-size: 25px;
}


/* BARRA DE PAGAMENTOS */
.pagamentos{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}


ul li li{
    display: flex !important;
    align-items: center;
    border: none !important;
}

ul li li h6{
    margin-bottom: 0;
    padding: 0 0;
}

/* oculta alguns intes nas telas pequenas */
@media (max-width:768px){
    .esconder{
        display: none  !important;
    }
}


.card{
    max-width: 250px;
    transition: all .4s;
}

.card:hover{
    box-shadow: 4px 2px 18px rgba(0,0,0,0.3);
}



/* OWL CARROUSEL */
.item{
    
    height: auto;
    width: 320px;
    /* background-color: #fff; */
}





/*
xs <576px
sm	≥576px
md	≥768px
lg	≥992px
xl	≥1200px
xxl	≥1400px
*/














